*{
  margin: 0;
}
body{
  /* background: grey; */
  font-family: 'Roboto','Arial', 'sans-serif';
  font-size: 20px;
  width:100%;
}
main{
  width:100%;
}
header{
  display:flex;
  justify-content: center;
  align-items: center;

  background: url('/site/img/logoped-defectolog.jpg');
  min-height: 100vh;
  object-fit: cover;
  width:100%;
  max-width: 1920px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  flex-direction: column;
}
nav{
  margin-top:1%;
  position: absolute;
  top: 0;
  width:100%;
  max-width:900px;
  display: inline-block;
}

nav > ol > a > li{
  /* width:100%; */
  display:inline-block;
  margin-left:auto;
  color:white;
  margin-right: 15px;
}
.header{
  color:white;
  /* margin: 1%; */
  font-size: 30px;
  width:calc(100% - 4%);
  max-width: calc(900px - 5%);
}
.header > p{
  color:grey;
  /* margin: 1%; */
  margin-top: 3%;
  margin-bottom:3%;
  width:100%;
  max-width:700px;
  text-shadow: 1px 1px black;
  display:inline-block;
}
.header > button{
  background: #ffc11e;
  max-width:300px;
  width:100%;

  height: 70px;
  border-radius: 30px;
  /* border: #ffc11e 1px; */
  font-size: 30px;
}
article{
  width:100%;
  max-width:1920px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  min-height: 850px;
  max-width:1920px;
  width:100%;
  flex-wrap: wrap;
  /* background: #f5f1f0; */
}
section:nth-child(2){
  background: #f5f1f0;
  width:100%;
}
.boxOne{
  width:100%;
  max-width:600px;
  min-height: 400px;
}
.boxOne > img:nth-child(1){
  max-width:330px;
  width:100%;
}
.boxOne > img:nth-child(2){
  max-width:215px;
  width:100%;
  height:250px;
  object-fit: cover;
  margin-left: 2%;
  position: relative;
  top:-110px;
}
.boxOne > img:nth-child(3){
  max-width:340px;
  width:100%;
  position: relative;
  top:-110px;
  left:150px;
}
@media(max-width:570px){
  .boxOne > img:nth-child(1){
    text-align: center;
    /* margin:1%; */
  }
  .boxOne > img:nth-child(2){
    display:none;
    text-align: center;
    top:0;
  }
  .boxOne > img:nth-child(3){
    display:none;
    left:0;
    top:0;
  }
  nav{
    display:none;
  }
  .lineOne{
    display:block;
    background: white;
    width:37px;
    height:4px;
    position: absolute;
    top:10px;
    right:25px;
  }
  .lineTwo{
    display:block;
    background: white;
    width:37px;
    height:4px;
    position: absolute;
    top:calc(10px + 1.5%);
    right:25px;
    /* margin-top: 3%;
    margin-bottom: 3%; */
  }
  .lineThree{
    display:block;
    background: white;
    width:37px;
    height:4px;
    position: absolute;
    top:calc(10px + 3%);
    /* top:10px; */
    right:25px;

  }
  /* #menu{
    width:37px;
    height:40px;
    display:block;
    border:3px solid red;
    position: absolute;
    top:10px;
    right:25px;
  } */
  .img{
    /* height: 30%; */
    display: block;
    background: url('/site/img/logoped-defectolog.jpg');
    height: 30vh;

    display:flex;
    justify-content: center;
    align-items: center;

    object-fit: cover;
    width:100%;

    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    flex-direction: column;
  }
  .header{
    height:70vh;
  }
  header{
    background: black;
  }
  #menu{
    width:100%;
    min-width: 57px;
    height:50px;
    background: grey;
    display:flex;
    /* position: absolute; */
  }
}
.boxTwo{
  width:100%;
  max-width:400px;
  min-height: 400px;
  background: white;
}
.boxTwo > h2{
  width:100%;
  font-weight:600;
  font-size: 42px;
  margin-bottom: 3%;
}

.boxTwo > p{
  width:100%;
  font-size: 22px;
  margin-bottom: 3%;
}
@media(max-width:900px){

}
/* section:nth-child(3){
  width:100%;
  background: white;

} */
/* background: #f5f1f0; */
.boxSolution{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  width: 100%;
  max-width: 850px;
}
.boxSolution > h2{
  font-weight: 600;
  font-size: 42px;
  line-height: 1.23;
}
.boxSolution > p{
  max-width: 560px;
  font-size: 24px;
  line-height: 1.5;
  width:100%;
  text-align: center;
}
.inside{
  display: flex;
  flex-wrap:wrap;
  width:100%;
  max-width:calc(100% - 0px);
}
.inside > ul{
  /* font-size: 22px; */
  line-height: 1.35;
  font-weight: 600;
  max-width:370px;
  width:100%;
}
.inside > ul > li::marker{
  color:red;
  font-size:70px;
}
/* section:nth-child(4){
 background: white;
 flex-wrap: wrap;
 min-height:1200px;
} */
 .boxOneTwo{
  max-width: 350px;
  line-height: 1.55;
  font-size: 26px;
}
 .boxOneTwo >p{
  max-width: 350px;
  margin:3%;
  line-height: 1.55;
  font-size: 26px;
  font-weight: 300;
}
.boxTwoTwo >img{
  max-width:761px;
  width:100%;
  /* height:750px; */

}
#portfolio{
  display:grid;
  align-items: center;
  align-self: center;
  justify-content: center;
  justify-self:center;
  justify-items:center;
  width:calc(100% - 15px);
  /* max-width:calc(1300px + 2%); */
  background: white;
}
#portfolio > h2{
  margin-top:50px;
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
}
#portfolio > p{
  width:100%;
  max-width:437px;
  width:100%;
  margin:3%;
}
/* .wrapper {
  display: grid;
  max-width: 100%;
  width:900px;
  grid-template-columns: repeat(9, 1fr);
  grid-gap: 0px;
  grid-auto-rows: 190px;
  grid-template-areas:
    "a a b b b c c c c"
    "d d d e e e e f f"
    "g g k k k k m m m";
} */
.photo{
  width:100%;
  max-width: 1200px;
text-align: center;
  min-height: 931px;
  display: grid;

  grid-template-columns: repeat(9, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 190px;
  grid-template-areas:
    "a a a b b b c c c"
    "a a a e e e c c c"
    "g g g e e e f f f"
    "n n n e e e f f f";
}
@media(max-width:500px){
  .photo{
    grid-template-areas:
      "a a a a a b b b b"
      "a a a a a e e e e"
      "g g g g g e e e e"
      "n n n n n e e e e"
      "c c c c c f f f f";
      min-height: 1331px;
  }
  .photo > img:nth-child(6){
    grid-area: n;
    width:100%;
    max-width:373px;
    height:189px;
    object-fit: cover;
  }
  .photo > img:nth-child(5){
    grid-area:e;
    width:100%;
    max-width:373px;
    height:570px;
    object-fit: cover;
  }
  .photo > img:nth-child(7){
    grid-area: f;
    width:100%;
    max-width:373px;
    height:370px;
    object-fit: cover;
  }
}
.photo > img:nth-child(1){
  grid-area: a;
  width:100%;
  max-width:373px;
  height:353px;
  object-fit: cover;
}
.photo > img:nth-child(2){
  grid-area:b;
  width:100%;
  max-width:373px;
  height:170px;
  object-fit: cover;
}
.photo > img:nth-child(3){
  grid-area: c;
  width:100%;
  max-width:373px;
  height: 353px;
  object-fit: cover;
}
.photo > img:nth-child(4){
  grid-area: g;
  width:100%;
  max-width:373px;
  height:170px;
  object-fit: cover;
}
.photo > img:nth-child(5){
  grid-area:e;
  width:100%;
  max-width:373px;
  height:670px;
  object-fit: cover;
}
.photo > img:nth-child(6){
  grid-area: n;
  width:100%;
  max-width:373px;
  height:289px;
  object-fit: cover;
}
.photo > img:nth-child(7){
  grid-area: f;
  width:100%;
  max-width:373px;
  height:480px;
  object-fit: cover;
}
#myGroup{
  background: #ffc11e;
  max-width:300px;
  width:100%;
  height:70px;
  color:white;
  font-size:35px;
  /* border:2px solid #ffc11e; */
  border-radius: 370px;
  margin-top:3%;
  margin-bottom:3%;
  align-items: center;
}
#work{
  min-height:670px;
  background: white;
  flex-direction: column;
  background: #f5f1f0;
}
#work > h2{
  margin:4%;
  font-size: 42px;
  font-weight: 600;
}
#work > div{
  display:flex;
  justify-content: center;
  align-items: baseline;
  min-height:200px;
  width:100%;
  max-width:1200px;
  flex-direction: row;
  flex-wrap: wrap;
}
.boxDiv{
  display:flex;
  justify-content: center;
  align-items: center;

  max-width: 360px;

  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  max-width: 300px;
  flex-direction: column;
}

.cirle{
  display:flex;
  justify-content: center;
  align-items: center;
  color:white;
  font-size: 33px;
  width:80px;
  height:80px;
  background:red;
  border-radius: 50%;
  margin: 3%;
}
/* section:nth-child(6) > div > div > h3{
  margin-top:7%;
  margin-bottom: 7%;
} */
/* section:nth-child(6) > div > div > p:nth-child(3){
  font-size: 15px;
  line-height: 1.55;
} */
section:nth-child(6){
  width:calc(100% - 10%);
  max-width: 1920px;
  min-height:400px;
  /* background: #f5f1f0; */
  flex-direction: column;
}
section:nth-child(6) > h2{
  margin:3%;
  width:100%;
  text-align: center;
}
.boxMessage > p{
  width:100%;
  max-width:620px;
  min-height:115px;
  background:white;
  margin-top:1%;
  margin-bottom: 1%;
}
.boxMessage{

}
.sendMe{
  background: url('/site/img/footer.jpg');
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color:white;
  text-shadow: 1px 1px black;
  width:100%;
  min-height: 500px;
  object-fit:contain ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size:cover;
}
img{
 width:100%;
 max-width: 1920px;
}
.video{
  background: grey;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:100%;
}
.video > span{
  /* position: absolute; */
  width:33px;
  height:33px;
  background: white;
  border-radius: 50%;
  display:flex;
  justify-content: center;
  align-items:center;
}
@media(max-width:570px){
  .video > span{
    position: absolute;
  }
  .video > span:nth-child(1){
    left:3%;
  }
  .video > span:nth-child(5){
    right:3%;
  }
}
section:nth-child(7){
  min-height: 450px;
}
section:nth-child(7) > .display{
  display:flex;
  width:100px;
  justify-content: space-around;
}
section:nth-child(7) > .display > span{
  display:block;
  background: black;
  width:7px;
  height:7px;
  border-radius: 50%;
}
section:nth-child(7) > .display > span:nth-child(2){
  display:block;
  background: grey;
  width:7px;
  height:7px;
  border-radius: 50%;
}
section:nth-child(7) > .display > span:nth-child(3){
  display:block;
  background: grey;
  width:7px;
  height:7px;
  border-radius: 50%;
}
footer{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  text-align: center;
  width:100%;
  min-height:303px;
  color:white;
  background: #1a1a1a;
}
footer > h2{
  font-size:42px;

}
footer > a{
  text-decoration: none;
  color: white;
}
#sendMe{
  width:100%;
  max-width:170px;
  height:70px;
  background: #ffc11e;
  border-radius: 27px;
  font-size:27px;
}
/* //#menu > div > a:nth-child(1) > h3 */
#menu > div > a > h3{
  background: #ffc11e;
  border-radius:27px;
  padding:3%;
  width:100%;
  transition: all 3s ease-out;
}
#menu > div > a > h3:hover{
  background:#ffe9ae;
}
#menu > div > a{
  text-decoration: none;
  transition: all 3s ease-out;
}
